
:root {
  --main-bg-color: #fff;
  --secondary-bg-color: #fad61d;
  --tertiary--bg-color: #f62d14;
  --quaternary--bg-color: #e19720;
  --main-txt-color: #fff;
  --secondary-txt-color: #000;
  --main-letter-spacing: 2.5px;
  --main-font-weight: 300;
}

html {
  font-size: 1rem;
}

body {
  background-image:url("../img/background/4128786.jpg");
  background-position: right -20% bottom 0%;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-attachment: fixed;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: var(--main-font-weight);
}

.navbar {
  background-color: var(--secondary-bg-color);
}

#nav-container a {
  color: var(--main-txt-color);
}

#main-container {
  float:left;
  padding: 0% 10%;
}

.display-6 {
  margin-left: 10%;
  text-transform: capitalize;
}

h3 {
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;
}

h6 {
  margin: 20px 0 5px 0;
  letter-spacing: var(--main-letter-spacing);
  text-transform: capitalize;
}

p {
  margin: 0;
  color: var(--secondary-txt-color);
  letter-spacing: var(--main-letter-spacing);
}

img {
  width: 60%;
}

.btn {
  font-family: inherit;
  border: none;
  background-color: var(--main-bg-color);
  color: var(--secondary-txt-color);
  font-weight: 300;
  letter-spacing: var(--main-letter-spacing);
  border-radius: 40px;
  text-transform: uppercase;
  margin: 10px 0px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: var(--tertiary--bg-color);
  box-shadow: 0px 15px 20px rgba(246, 45, 20, 0.4);
  color: var(--main-txt-color);
  transform: translateY(-7px);
}

.modal-content {
  font-family: inherit;
  border: none;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 10px 10px 30px 10px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.modal-body {
  padding: 0px;
}

.modal-backdrop {
  background-color: var(--secondary-bg-color);
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #main-container {
    padding: 0% 30% 0% 10%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  #main-container {
    padding: 0% 40% 0% 10%;
  }
}

@media all and (min-width: 1200px) {
  #main-container {
    padding: 0% 20% 0% 10%;
  }
}
